[Unit]
Description=Spring Boot Application
After=syslog.target

[Service]
User=sevil
WorkingDirectory=/home/sevil/Desktop/quizproject/quizbackend
ExecStart=/usr/bin/java -Xmx512m -Xms256m -jar /home/sevil/Desktop/quizproject/quizbackend/target/quizbackend-1.0-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target